<ion-content  >
  
  
<form action="" style="margin-top: 120%;margin-left: 20%;background-color: rgba(16, 97, 70, 0);">
  <ion-list style="background-color: rgba(127, 255, 212, 0);">
    <div style="margin: 4%;">
      <ion-label style="font-size: 15px ; color: black;">Identifiant</ion-label>
      <input name="" style="width: 50%; float: right; border-radius: 50px; color: black; background-color: white; ">
    </div>
    <div style="margin: 4%;">
      <ion-label style="font-size: 15px ; color: black; ">Mot de pass</ion-label>
      <input name=""  style="width: 50%; float: right; border-radius: 50px; color: black; background-color: white;">
    </div>
    
    
    
    <div style="margin: 4%;">
  <ion-button expand="block" shape="round">Se connecter</ion-button>
  </div>
  </ion-list>
</form>
    
    


  
  
</ion-content>
