<ion-header>
 
</ion-header>

<ion-content>

  
  
    <form action="" style="margin-top: 120%;margin-left: 10%;background-color: rgba(16, 97, 70, 0);">
      <ion-list style="background-color: rgba(127, 255, 212, 0);">
        <div style="margin: 4%;">
          <ion-label style="font-size: 15px ; color: black;">Nom</ion-label>
          <input name="nom" type="text" [(ngModel)]="nom" style="width: 50%; float: right; border-radius: 50px; color: black; background-color: white; ">
        </div>
        <div style="margin: 4%;">
          <ion-label style="font-size: 15px ; color: black; ">Prenom</ion-label>
          <input name="prenom"  type="text" [(ngModel)]="prenom"  style="width: 50%; float: right; border-radius: 50px; color: black; background-color: white;">
        </div>
        <div style="margin: 4%;">
          <ion-label style="font-size: 15px ; color: black;">Email :</ion-label>
          <input name="email" type="email" [(ngModel)]="email"  style="width: 50%; float: right; border-radius: 50px; color: black; background-color: white;">
        </div>
        <div style="margin: 4%;">
          <ion-label style="font-size: 15px ; color: black;">Identifiant :</ion-label>
          <input name="identifiant" type="text" [(ngModel)]="identifiant" style="width: 50%; float: right; border-radius: 50px; color: black; background-color: white;">
        </div>
        <div style="margin: 4%;">
          <ion-label style="font-size: 15px ; color: black;">Mot de passe :</ion-label>
          <input name="password" type="password" [(ngModel)]="password" style="width: 50%; float: right; border-radius: 50px; color: black; background-color: white;">
        </div>
        <div style="margin: 4%;">
          <ion-label style="font-size: 15px ; color: black;">Confirmer :</ion-label>
          <input name="confirmPassword" type="password" [(ngModel)]="confirmPassword" style="width: 50%; float: right; border-radius: 50px; color: black; background-color: white;">
        </div>
        <div style="margin: 4%;"><br>
      <ion-button  expand="block" (click)="inscription()" shape="round">S'inscrire</ion-button>
      </div>
      </ion-list>
    </form>
        
</ion-content>
